<h1 style="margin-bottom: 5%"> Listing all Tasks </h1>

<table class="table table-striped table-dark table-hover table-bordered">
    <thead class="thead-light ">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            <th>Completed</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <% @tasks.each do |task| %>
    <tr>
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= task.body %></td>
        <td><%= task.status %></td>
        <td><%= link_to "Show", task %></td>
        <td><%= link_to "Edit", edit_task_path(task) %></td>
        <td><%= link_to "Remove", task, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
    <% end %>
</table>